# Ignore the official config file. There's a .config.yaml as en example
config.yaml

# Ignore media files so they don't get uploaded to git
media/movies/*
media/tv/*
media/music/*
media/books/*

movies.json
tv.json
music.json
books.json

logfile.log

.idea